<h3>Profile: <%=@user.email%></h3>
<h4>Status: <%=@user.role%></h3>
<br />
  <div>
  <h4>All Comments</h4>
    <ol>
      <% @user.comments.each do |comment|%>
      <li>Lesson: <%=link_to comment.lesson.parse_title, lesson_path(comment.lesson)%> | 
        <br /> <%=link_to comment.content, lesson_comment_path(comment.lesson, comment)%> | 
        Written on: <%=comment.created_at.strftime('%A, %b %d, %Y')%>
            <%end%>

      </li>
      <br />
      <br />
    </ol>
    <br />
  </div>
  <div>
    <h4>All Ratings</h4>
    <h5>Average Rating: <%=@user.average_rating%> out of 5.0</h5>
    <ol>
      <%@user.ratings.each do |rating| %>
      <li>Lesson: <%=link_to rating.lesson.parse_title, lesson_path(rating.lesson)%> 
         Rating: <%=rating.star_rating%> out of 5      
        <br> <%=link_to "Details", lesson_rating_path(rating.lesson, rating)%>  Rated on: <%=rating.created_at.strftime('%A, %b %d, %Y')%>
            <%end%>

      </li>
    </ol>
    <br />
  </div>
  <br />
    <%if current_user.admin? %>
    <h4>Edit User</h4>
      <%= form_tag(promote_user_path, method: 'post')  do%>
       Member: <%= radio_button_tag :role, 'member'%> | VIP <%= radio_button_tag :role, 'vip'%> | Admin <%= radio_button_tag :role, 'admin'%><br />
      <%=submit_tag "Promote/Demote User"%>
    <%end%>
    <%end%>

  <%= button_to "Delete Profile and all Traces of Existence", user_path(@user), method: :delete%><br />
    <%= link_to 'Back', url_for(:back) %>
