 <h3> <%=link_to @rating.lesson.parse_title, lesson_path(@rating.lesson)%></h3><br />
  <li><%=@rating.user.email%> - <%=@rating.star_rating%> || <%=link_to "Edit Rating", edit_lesson_rating_path(@rating.lesson, @rating)%></li>
    <%= button_to "Delete", rating_path(@rating), method: :delete %>
    <%= link_to 'Back', url_for(:back) %>


