<div id="lesson_title"></div>          
  <div>
    <ul>
      
      <h4>Difficulty Rating - </h4>
      <div id="average_rating"></div>
      <div id="rating_number"></div>
      
       <button value="add_rating" id="show_rating_form">Show/Hide Rating Form</button>
       <button id="show_ratings">Show/Hide Ratings</button>
       <br/>
       <br/>
           <%= form_tag add_rating_path(@rating), :id => 'rating_form' do%>
           1 <%= radio_button_tag :star_rating, "1"%> | 2 <%= radio_button_tag :star_rating, "2"%> | 3 <%= radio_button_tag :star_rating, "3"%> | 4 <%= radio_button_tag :star_rating, "4"%> | 5 <%= radio_button_tag :star_rating, "5"%> 
          <%= hidden_field_tag "lesson_id", @lesson.id %>
          <%= hidden_field_tag "user_id", @user.id %>
          <%= submit_tag "Submit" %>

          <%end%>
      <br/>
      <div id="ratingsAll"></div>


      </ul><br/>
    </ul>
    </div>
    <div>
       <ul>
       <button value="show_rating" id="show_comment_form">Show/Hide Comment Form</button>
       <button id="show_comments">Show/Hide Comments</button>
       <br/>

        <%= form_tag add_comment_path(@comment), :id => 'comment_form' do %>
        <%= text_area_tag :content%>
        <%= hidden_field_tag "lesson_id", @lesson.id%>
        <%= hidden_field_tag "user_id", @user.id %>

        <%= submit_tag "Add Comment" %>
          <% end %>
      <br/>
      <div id="commentsAll"></div>

    </ul>
    </div>
      <br />
    <%= link_to 'Back', lessons_path %>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
  populateLesson(id);
  attachListeners();
});

function attachListeners(){

  $('#comment_form').submit(function(event){
    event.preventDefault();

    var values = $(this).serialize();

    var posting = $.post('/comments', values);

    posting.done(function(data){
      populateComments(id);
    });
    //alert("it worked!");
  });
  $('#rating_form').submit(function(event){
    event.preventDefault();

    var values = $(this).serialize();

    var posting = $.post('/ratings', values);

    posting.done(function(data){
      populateRatings(id);
    });
    //alert("it worked!");
  });
  $("#commentsAll").hide();

  $('#show_comments').click(function(){
    $("#commentsAll").toggle();
  });

  //$('#comment_form').hide();

  $('#show_comment_form').click(function(event){
    $("#comment_form").toggle();
    event.preventDefault();
  });

  $("#ratingsAll").hide();

  $('#show_ratings').click(function(){
    $("#ratingsAll").toggle();
  });

  //$('#rating_form').hide();

  $('#show_rating_form').click(function(event){
    $("#rating_form").toggle();
    event.preventDefault();
  });

};

var id = window.location.pathname;

function populateLesson(id){
  $.get(id + ".json", function(data) {
       var lesson_title =data['lesson']['title'];

      $('#lesson_title').html( "<h3>" + parseTitle(lesson_title) + "</h3>");
      });
  populateComments(id);
  populateRatings(id);
  averageRating(id);
}

function populateComments(id){
  $.get(id + ".json", function(data) {
       var lesson = data['lesson'];
       var commentText = "<strong>Comments</strong>";

       if(lesson['ratings'] === 0){
         commentText = "<strong>There are no comments</strong>";
       };
       var lessonComments = lesson['comments'];

       var commentList = "Comments <ol class='js-comment' data-id='comment['id']'>";
       lessonComments.forEach(function(comment) {

         commentList += "<li><ul><li>Content: <a href='/lessons/" + comment['lesson_id'] + "/comments/" + comment['id'] + "/edit'>" + comment['content']+"</a></li>";
          commentList += "<li>By: <a href='/users/" + comment['user_id'] + "'>" + comment['user']['email']+"</a></li>";
         commentList += '<li>Commented at: ' + comment['created_at'] +"</li>";
         commentList += '</ul></li><br/>'
       });
        commentList += '</ol>';
     $("#commentsAll").html(commentList);
    });
}

function populateRatings(id){
  $.get(id + ".json", function(data) {
     var lesson = data['lesson'];
     var ratingText = "<strong>Ratings</strong>";

     if(lesson['ratings'] === 0){
       ratingText = "<strong>There are no ratings</strong>";
     };
     var lessonRatings = lesson['ratings'];

     var ratingList = "Ratings <ol class='js-rating' data-id='rating['id']'>";
     lessonRatings.forEach(function(rating) {
      //debugger;

       ratingList += "<li><ul><li>Difficulty Rating: <a href='/lessons/" + rating['lesson_id'] + "/ratings/" + rating['id'] +  "/edit'>" + rating['star_rating'] + " out of 5</a></li>";
       ratingList += "<li>By: <a href='/users/" + rating['user_id'] + "'>" + rating['user']['email'] + "</a></li>";
        ratingList += "<li>Rated at: " + rating['created_at']+"</li>";
       ratingList += '</ul></li><br/>'
     });
      ratingList += '</ol>';
   $('#ratingsAll').html(ratingList);
  });
  averageRating(id);   
}

function averageRating(id){
  $.get(id + ".json", function(data){
    var lesson = data['lesson'];
    var lessonRatings = lesson['ratings'];
    var sum = 0;

    lessonRatings.forEach(function(rating){
      sum += rating['star_rating'];
            //debugger;
    })
     var nbr = lessonRatings.length;
     var avg = "<h4>" + sum/nbr + " out of 5</h4>";

       $('#average_rating').html(avg);
       $('#rating_number').html('<h5>Taken from ' + nbr + ' surveys');

  });
}

function parseTitle(title){
  if( title.match(/(\d)/) || title.match(/(-)/) )  {
    return title.replace("-", "").match(/^\D+/)
  }else{
    return title;
  };
};
</script>






