<h3><%= @lesson.title %></h3>
  <% num = @ratings.count%>
  <div>
    <ul>
    <h4> AverageStar Difficulty!</h4>

    <%if num ==0%>
      <%="There are currently no ratings on this lesson!"%>
      <%else%>
      <%=Rating.average(@ratings)%>
        <%end%>
      <br />
    </div>
      <div>
        <ul>
        <p>Add a rating of your own?</p>
          <%= form_tag(add_rating_path) do %>
          | 1. <%= radio_button_tag 'star_rating', "1", class: "Rating"%> | 2. <%= radio_button_tag 'star_rating', "2", class: "Rating"%> | 3. <%= radio_button_tag 'star_rating', "3", class: "Rating"%> | 4. <%= radio_button_tag 'star_rating', "4", class: "Rating"%> | 5. <%= radio_button_tag 'star_rating', "5", class: "Rating"%> |
          <%= hidden_field_tag "lesson_id", @lesson.id%>
          <%= submit_tag "Add Rating" %>
          <%end%>
        </ul>
        </div><br />


        <div>


      <ul>
        <h4>Comments on the Lab</h4>
        <%if @lesson.comments.count == 0%>
        <%="There are no comments on this lesson. Be the first one!"%><br />
          <%else%>
        <% @lesson.comments.each do |comment|%>
          <li>Written by User #<%=comment.user.id%>: <%=comment.content%></li><br /><br />
          <!--Until you figure out why devise is hiding the email just use the user_id for verification-->
          <%end%>
          <%end%>


        <%= form_tag(add_comment_path) do %>
        <%= text_area_tag :content%>
        <%= hidden_field_tag "lesson_id", @lesson.id%>
        <%= submit_tag "Add Comment" %>
          <% end %>
        </ul>
      </div><br />
