<h3><%= @lesson.parse_title %></h3>
          
  <div>
    <ul>
      
      <h4>Difficulty Rating - </h4>
      <%if @lesson.ratings.count == 0%>
    <h5> N/A</h5>
    <br />
      <%else%>
        <h5><%=@lesson.average_rating%> out of 5.0</h5>
      <div id="ratingsAll"></div>
        <%end%><br />

        <div class="rating_form">
           <%= form_tag add_rating_path(@rating), :id => 'rating' do%>
          | 1 <%= radio_button_tag :star_rating, "1"%> | 2 <%= radio_button_tag :star_rating, "2"%> | 3 <%= radio_button_tag :star_rating, "3"%> | 4 <%= radio_button_tag :star_rating, "4"%> | 5 <%= radio_button_tag :star_rating, "5"%> |
          <%= hidden_field_tag "lesson_id", @lesson.id %>
          <%= hidden_field_tag "user_id", @user.id %>
          <%= submit_tag "Add rating" %>

          <%end%>
        </div>


      </ul><br />
    </ul>
    </div>
    <div>
      <ul>
        <h4>Comments on the Lab</h4>
        <%if @lesson.comments.count == 0%>
        <%="There are no comments on this lesson. Be the first one!"%><br />

          <%else%>

        <% @lesson.comments.each do |comment|%>
          <li>Written on <%=comment.created_at.strftime('%A, %b %d, %Y')%> |  <%=comment.user.email%> |<br /> <%=link_to comment.content, lesson_comment_path(comment.lesson, comment)%></li><br /><br />
         
          <%end%>
          <%end%>

        <%= form_tag add_comment_path(@comment), :id => 'comment' do %>
        <%= text_area_tag :content%>
        <%= hidden_field_tag "lesson_id", @lesson.id%>
        <%= hidden_field_tag "user_id", @user.id %>

        <%= submit_tag "Add Comment" %>
          <% end %>
      <div id="commentsAll"></div>

          <script type="text/javascript" charset="utf-8">
          $(function () {
            var id = $(this).data("id");
            $('#comment').submit(function(event){
              event.preventDefault();

              var values = $(this).serialize();

              var posting = $.post('/comments', values);
   
              posting.done(function(data){

                var id = window.location.pathname;
                $.get(id + ".json", function(data) {
                   var lesson = data['lesson'];
                   var commentText = "<strong>Comments</strong>";

                   if(lesson['ratings'] === 0){
                     commentText = "<strong>There are no comments</strong>";
                   };
                   var lessonComments = lesson['comments'];

                   var commentList = "Comments <ol class='js-comment' data-id='comment['id']'>";
                   lessonComments.forEach(function(comment) {
                    //debugger;
                     commentList += '<li><ul><li>Date: ' + comment['created_at'];
                     commentList += "</li><li>Content: " + comment['content']+"</li>";
                     commentList += "<li>By: " + comment['user']['email']+"</li>";
                     commentList += '</ul></li>'
                   });
                    commentList += '</ol>';
                 $("#commentsAll").html(commentList);
                });
              });
              //alert("it worked!");
            });
          $('#rating').submit(function(event){
              event.preventDefault();

              var values = $(this).serialize();

              var posting = $.post('/ratings', values);

              posting.done(function(data){
                var id = window.location.pathname;
                $.get(id + ".json", function(data) {
                   var lesson = data['lesson'];
                   var ratingText = "<strong>Ratings</strong>";

                   if(lesson['ratings'] === 0){
                     ratingText = "<strong>There are no ratings</strong>";
                   };
                   var lessonRatings = lesson['ratings'];

                   var ratingList = "Ratings <ol class='js-rating' data-id='rating['id']'>";
                   lessonRatings.forEach(function(rating) {
                    //debugger;
                     ratingList += '<li><ul><li>Date: ' + rating['created_at'];
                     ratingList += "</li><li>Difficulty Rating: " + rating['star_rating'] + "out of 5</li>";
                     ratingList += "<li>By: " + rating['user']['email'] + "out of 5</li>";
                     ratingList += '</ul></li>'
                   });
                    ratingList += '</ol>';
                 $("#ratingsAll").html(ratingList);
                });
              });
              //alert("it worked!");
            });
          });
        </script>


      </ul>
    </div>
      <br />
    <%= link_to 'Back', lessons_path %>





