<!DOCTYPE html>
<html lang='en'>
<head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LV Reviews</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'https://js.stripe.com/v2/' %>

    <%= csrf_meta_tags %>
</head>
    <!--  navbar -->
       <%= render 'layouts/navigation' %>

        </div><!--/.nav-collapse -->
      </div>
    </div>
  <header>
  </header>
    <%= render 'layouts/messages' %>

  <div class="container"  role="main">

    <%= yield %>

  </div>
  <footer>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="moment.js"></script>
  </body>
</html>
</body>
</html>
