<!DOCTYPE html>
<html>
<head>
  <title>LvLessonReview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!--  navbar -->
   
        </div><!--/.nav-collapse -->
      </div>
    </div>
  <header>
    <%= render 'layouts/navigation' %>
  </header>
    <%= render 'layouts/messages' %>

  <div class="container"  role="main">

  <h1>LvLessonReview</h1>
    <%= yield %>
  </div>
  <footer>
    <%= render 'layouts/footer'%>
  </footer>
</body>
</html>
